.advantages {
  padding-top: 32px;
}

.advantages__slogan {
  max-width: 270px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.advantages__heading {
  max-width: 270px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: $dark-grey;
}

.advantages__list {
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;
  counter-reset: num;
}

.advantages__item {
  position: relative;

  &::before {
    content: "\2014  № " counter(num) " \2014";
    counter-increment: num;
    position: absolute;
    top: 80px;
    left: 50%;
    color: $dark-grey;
    transform: translateX(-50%);
  }
}

.advantages__item--accent::before {
  color: $basic-white;
}

.advantages__header {
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  background-color: $basic-grey;
}

.advantages__item--accent .advantages__header {
  padding-top: 39px;
  padding-bottom: 0;
  color: $basic-white;
  background-color: $light-blue;
}

.advantages__subtitle {
  margin-top: 0;
  margin-bottom: 40px;
}

.advantages__description {
  max-width: 250px;
  margin: auto;
  color: $dark-grey;
}

.advantages__img {
  display: block;
}

.advantages__item--accent .advantages__description {
  max-width: 290px;
  margin-bottom: 39px;
  color: $basic-white;
}

.advantages__services-list {
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none;
}

.advantages__services-item {
  padding-top: 26px;
  padding-left: 70px;
  background-repeat: no-repeat;
  background-position: 20px 15px;

  &--housing {
    background-image: url("../img/icons/icon-house.svg");
  }

  &--souvenirs {
    background-image: url("../img/icons/icon-gift.svg");
  }

  &--food {
    background-image: url("../img/icons/icon-burger.svg");
  }
}

.advantages__services-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages__services-description {
  margin-top: 0;
  margin-bottom: 0;
  color: $dark-grey;
}
