.feedback-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback-form__item {
  border-top: 1px solid $fieldset-border;
}

.feedback-form__fieldset {
  border: none;
}

.feedback-form__title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.feedback-form__field {
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.feedback-form__textarea {
  width: 100%;
  min-height: 160px;
  padding: 13px 23px 13px 21px;
  font-family: "PT Sans", "Georgia", serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
  background-color: $light-grey;
  border: none;

  &::placeholder {
      color: $basic-black;
    }
}
