.main-nav {
  position: relative;
  display: none;
}

.main-nav__toggle {
  display: none;
}

.main-nav__close {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: $basic-white;
  background-color: $light-blue;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 7px;
    background: linear-gradient(180deg, rgba($basic-black, 0) 0%, rgba($basic-black, 0.2) 100%);
  }
}

.main-nav__item {
  box-shadow: 0 1px 0 rgba($basic-black, 0.2);
}

.main-nav__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}
