.page-header {
  position: relative;
  padding-top: 17px;
  padding-bottom: 400px;
  min-height: 56px;
  text-align: center;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.page-header__logo {
  // position: absolute;
  // top: 0;
  // left: 50%;
  transform: translateX(-50%);
}
