.search {
  text-align: center;
}

.search__heading {
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 26px;
}

.search__description {
  max-width: 290px;
  margin: 0 auto 27px auto;
  line-height: 25px;
  color: $dark-grey;
}

.search__button {
  margin-bottom: 49px;
}
